 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   font-family: sans-serif;
   background-color: #f5f6f7;
 }

 header {
   text-align: center;
   text-transform: uppercase;
   padding: 32px;
   background-color: #0a0a23;
   color: #fff;
   border-bottom: 4px solid #fdb367;
 }

 h1 {
  font-family: roboto;
  animation-name: color;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
 }

 @keyframes color {
  0% {
    color: rgb(129, 82, 82);
  }

  10% {
    color: rgb(211, 102, 102);
  }
  20% {
    color: rgb(255, 0, 0);
  }
  30% {
    color: rgb(255, 136, 0);
  }
  40% {
    color: rgb(255, 238, 0);
  }
  50% {
    color: rgb(0, 255, 0);
  }
  60% {
    color: rgb(0, 255, 200);
  }
  70% {
    color: rgb(0, 110, 255);
  }
  80% {
    color: rgb(47, 0, 255);
  }
  90% {
    color: rgb(174, 0, 255);
  }
  100% {
    color: rgb(255, 0, 179);
  }
 }
 
 .gallery {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 16px;
   max-width: 1400px;
   margin: 0 auto;
   padding: 20px 10px;
 }

 .gallery img, a  {
   width: 100%;
   max-width: 350px;
   height: 300px;
   object-fit: cover;
   border-radius: 10px;
 }

 .gallery::after {
   content: "";
   width: 350px;
 }

 a:hover {
  animation-name: scale;
  animation-duration: 5s;
 }

 @keyframes scale {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.08)
  }

  100% {
    transform: scale(1.0)
  }
 }